table.default tr:not(:nth-child(1)):not(:nth-child(2)) {
    display: none;
}
body {
    background-color: #fffffe !important;
}

header {
    background-color: #3da9fc !important;
}

#forecastbody :nth-child(even){
    background-color: #eaddcf !important;
}

#forecastbody :nth-child(odd){
    background-color: #8bd3dd !important;
}

div.card{
    background-color: #fef6e4 !important;
}